<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/public/stylesheets/client_style.css">
	<script src="/socket.io/socket.io.js"></script>
	<script>
	io = io.connect();

	var name = prompt('Type your name');

	io.emit('new_user_join', name);

	io.on('yourself', function(data) {
		$('#my_user').find('#my_name').html(data.new_user);
	})

	io.on('existing_users', function(users) {
		for(user in users) {
			html = "<div id='"+user+"' class='col-sm-3'><div class='panel panel-warning'><div class='panel-heading'>"+users[user]+"</div><div class='panel-body'><textarea id='"+user+"_box' name='text' disabled></textarea></div></div></div>";
			$('#users').append(html);
		}
	})

	io.on('new_user_joined', function(data) {
		html = "<div id='"+data.sessionID+"' class='col-sm-3'><div class='panel panel-warning'><div class='panel-heading'>"+data.new_user+"</div><div class='panel-body'><textarea id='"+data.sessionID+"_box' name='my_text' disabled></textarea></div></div></div>";
		$(html).hide().appendTo('#users').fadeIn(1000);
	});

	io.on('user_disconnected', function(update) {
		if($('#'+update).length > 0) {
			$('#'+update).remove();
		}
	})

	io.on('new_user_message', function(data) {
		console.log($('#'+data.userID+'_box'));
		$('#'+data.userID+'_box').html(data.message);
	})

	$(document).ready(function() {
		$('#my_textbox').keyup(function() {
			var message = $('#my_textbox').val();
			io.emit('typing_message', message);
		})
	})

	</script>
</head>
<body>
	<div class="container">
		<div id="users" class="row">
			<div id="my_user" class="col-sm-3">
				<div class="panel panel-warning">
					<div id='my_name' class="panel-heading"></div>
					<div class="panel-body">
						<textarea id='my_textbox' placeholder='Type your message here...'></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>